	<%= simple_form_for [@bench, @booking] do |f| %>
    <div class="form-short">
		<%= f.error_notification %>


		<div class="form-inputs">
			<%#= f.input :starting_date, as: :datetime %>
			<%#= f.input :ending_date, as: :datetime %>
      <%= f.input :starting_date, as: :datetime, html5: true, label: "From" %>
      <%= f.input :ending_date, as: :datetime, html5: true, label: "To" %>
      
		</div>

		<div class="form-actions">
			<%= f.button :submit %>
		</div>
  </div>
	<% end %>
