<div class="menu">
  <ul>
    <% if user_signed_in? %>
    <li>
      <%= link_to benches_path do%>
        <%= image_tag "bench.png" %>
      <% end %>
    </li>
    <% else %>
    <li>
       <%= link_to root_path do %>
        <%= image_tag "bench.png" %>
      <% end %>
    </li>
    <% end %>

    <% if user_signed_in? %>
      <li>
        <%= link_to "Benches", benches_path, class: 'link' %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'link' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: 'link' %>
      </li>
    <% end %>
  </ul>
</div>
