<div class="container">
<h1>All the best benches for the comfort of your butt</h1>
  <%= form_tag benches_path, class:"search", method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a place!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

	<div class="content">
		<% @benches.each do |bench| %>

			<div class="card">
      <%= link_to bench_path(bench) do %>
				<%= image_tag "bench placeholder.jpg"%>
        <%end%>
        <div class="padding">
            <%= link_to bench.name.capitalize, bench_path(bench), class: 'link card-link'%>
          <div class="card-content">
            <div class="card-text">
              <p><strong>Location: <br></strong>
              <%= bench.city %></p>
              <p><strong>Rating: </strong><%= bench.score %></p>
            </div>
            <div class="card-links">
              <%= link_to '+ Book', new_bench_booking_path(bench), class: 'btn-small' %>
              <%= link_to '> Reviews', bench_path(bench), class: 'btn-small'%>
            </div>
				</div>
				</div>
			</div>
		<% end %>

	</div>
	<%#= link_to "Create a new bench!", new_bench_path, class: 'btn-outline' %>
</div>
