<div class="container">
<h1 class="small-title">All the best benches for the comfort of your butt</h1>
  <%= form_tag benches_path, class:"search", method: :get do %>
    <%= text_field_tag :query,
     params[:query],
      class: "form-control",
      placeholder: "Find a place!"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

	<div class="content">
		<% @benches.each do |bench| %>

			<div class="card">
      <%= link_to bench_path(bench) do %>
				<%= image_tag "bench placeholder.jpg"%>
        <%end%>
        <div class="padding">
            <%= link_to bench.name.capitalize, bench_path(bench), class: 'link card-link'%>
          <div class="card-content">
            <div class="card-text">
              <p><strong>Location: <br></strong>
              <%= bench.city %></p>
              <div class="butt">
              <span><strong>Rating: </strong></span><br>
                <% avg_rating(bench).times do %>
                  <%= image_tag "butt.png"%>
                <% end %>
              </div>
            </div>
            <div class="action-icon">
              <%= link_to new_bench_booking_path(bench), class: 'btn-icon' do %>
              <i class="fas fa-calendar-plus"></i>
              <%end%>
              <%= link_to new_bench_review_path(bench) , class: 'btn-icon' do %>
              <i class="fas fa-comment"></i>
              <%end%>
            </div>
				</div>
				</div>
			</div>
		<% end %>

	</div>
	<%#= link_to "Create a new bench!", new_bench_path, class: 'btn-outline' %>
</div>
