<div class="container">
<h1> About this bench </h1>
  <br>
  <%= image_tag "miradour.jpg", height: 300, width: 300 %>


<h3> <%= @bench.name.capitalize %> </h3>
<p> bench address </p>

<ul>
  <% @reviews.each do |review| %>
    <li>
        <%= review.rating %>
        <%= review.description %>
    </li>
    <% end %>
</ul>

    </div>


</div>

  <%= link_to "Back to all benches", root_path %>

