<div class="container">
  <h1 class="small-title"> About me </h1>
    <br>
    <%= bench_image_tag(@bench)%>
  <br>
  <br>
  <h3> <%= @bench.name.capitalize %> </h3>
  <p> Address: <%= @bench.location %> </p>
  <p> City: <%= @bench.city %> </p>
  <p> Rating: <%= @bench.score %> </p>
  <br>

<h3 class="link card-link">Reviews >>></h3>
  <% if @bench.reviews.empty? %>
    <p>Sorry... this bench has not been reviewd yet.<br>
    Be the first.</p>

  <% else %>
  <div class="horizontal">
    <div class="padding">

        <div class="scroll">
            <% @bench.reviews.each do |b|%>
            <div class="booking">
                <div class="padding">
                    <div class="badge">
                      <% b.rating.to_i.times do %>
                      <%= image_tag "butt.png", id: 'butt'%>
                      <% end %>
                    </div>

                        <p><strong>
                        Author:
                        <%= b.user.first_name %>
                        <%= b.user.last_name %>
                        </p></strong>
                        <p><%= b.description %></p>
                </div>
            </div>
          <%end%>
        </div>
    </div>
  </div>

  <% end %>



  <div class="action">
    <%= link_to 'review', new_bench_review_path(@bench), class: 'btn' %>
    <%= link_to 'book', new_bench_booking_path(@bench), class: 'btn-outline' %>
  </div>
<br>
<br>
<%= link_to "Back to all benches", benches_path, class: "btn-small" %>
</div>
