<div class="container">
  <h1> About this bench </h1>
    <br>
    <%= image_tag "miradour.jpg", height: 300, width: 300 %>
  <br>
  <br>
  <h3> <%= @bench.name.capitalize %> </h3>
  <p> Address: <%= @bench.location %> </p>
  <p> City: <%= @bench.city %> </p>
  <p> Rating: <%= @bench.score %> </p>
  <br>
  <h3>Reviews</h3>
  <% if @bench.reviews.empty? %>
    <p>Be the first to let a review</p>

  <% else %>
    <ul class="list-group">
      <% @bench.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% review.rating.to_i.times do %>
              <i class="fa fa-star"></i>
<!--               <%#= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
 --><!--               <%# counter += 1 %> -->
            <% end %>
          </span>
          <%= review.description %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <br>
  <div class="action">
  <%= link_to 'review', new_bench_review_path(@bench), class: 'btn' %>
  <%= link_to 'book', new_bench_booking_path(@bench), class: 'btn-outline' %>
  </div>
<br>
<br>
<%= link_to "Back to all benches", benches_path, class: "btn-small" %>
</div>

