<!DOCTYPE html>
<html>
  <head>
    <title>Benches</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <h2>- Rent a bench -</h2>
      <svg height="3" width="100">
        <line x1="0" y1="0" x2="100" y2="0"/>
      </svg>
      <p>Made by <span>Fabio, Alexandre & Susanna</span></p>
    </footer>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
