<!DOCTYPE html>
<html>
  <head>
    <title>Benches</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag asset_path 'logo.png' %>
    <%= favicon_link_tag asset_path 'apple.png', rel: 'apple-touch-icon', type:'image/jpeg' %>
  </head>

  <body>
  <%= render 'shared/navbar' %>
    <%= yield %>

<!--     <footer>
      <h2 >- Rent a bench -</h2>
      <svg height="3" width="100">
        <line x1="0" y1="0" x2="100" y2="0"/>
      </svg>
      <p>Made by <span>Fabio, Alexandre & Susanna</span></p>
    </footer> -->

    <footer class="footer">
     <div class="top-footer-container">
      <div class="footer__top">
        <div class="containerfooter">
          <div class="footer__top--flex">
            <div class="footer__top--img">
              <br>
              <img src="https://airbnb-susannapezzini.herokuapp.com/assets/bench-3186eeb19055bde90d7997b37fad44128dec30affed70575d0e1b896bae5604d.png" alt="Benches logo">
              <br>
              <h4 class="footer__headline">For the love of benches.</h4>
              <div class="footer__top--nav">
                <ul id="menu-footer">
                  <li><a href="">Map</a></li>
                  <li><a href="/places">Our Benches</a></li>
                  <li><a href="">My Profile</a></li>
                  <li><a href="">My Bookings</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="footer__bottom">
        <div class="containerfooter--sm">
          <div>
              <p>© 2021 Benches.</p>
              <p>Coded by Fabio, Alex & Susanna.</p>
          </div>
          <div class="footer__bottom--nav">
            <ul>
              <li><a href="/privacy-policy/">Privacy Policy</a></li>
              <li><a href="/terms">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <%= render 'shared/flashes' %>
  </body>
</html>
